<h1>Let's create a new reporter</h1>
<h2> Reporter Info </h2>
<ul>
  <li>
    %b Name
    = @reporter.name
  </li>
  <li>
    %b Email
    = @reporter.email
  </li>
  <li>
    %b Username
    = @reporter.nickname
  </li>
</ul>
