<%= form_with(model: reporter, local: true) do |form| %>
  <% if reporter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reporter.errors.count, "error") %> prohibited this reporter from being saved:</h2>

      <ul>
      <% reporter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
